body {
	background-color: #333333;
	color: white;
}


a {
	color: inherit;
}

#content_body, .active {
	background-color: #222222;
}

form>input {
	color: inherit;
	font: inherit;
}
form>input[type="submit"] {
	border: none;
	background-color: inherit;
	cursor: pointer;
}

nav li:hover, nav>form:hover {
	background-color: darkred;
}
a[target="_blank"]:hover {
	background-color: darkgreen;
}
nav ul {
	background-color: #333333;
}
